<h1>Cadastrar livro</h1>

<label for="cadastro">
    <h2>Titulo do livro:
        <input type="text" placeholder="Digite o nome do livro...">{{nome}}
    </h2>

    <h2>Categoria do livro:
        <input type="text" placeholder="Digite a categoria do livro...">{{categoria}}
    </h2>

    <h2>Descrição do livro:
        <input type="text" placeholder="Digite a descrição do livro">{{descricao}}
    </h2>

    <h2>Preço do livro
        <input type="text" placeholder="R$50,00">{{preco}}
    </h2>

    <h2>Quantidade disponível:
        <input type="text" placeholder="60">{{estoque}}
    </h2>

</label>

<label for="button">
    <a href="/"><input type="submit" value="Cadastrar"></a>
</label>



